<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSieuThi.Properties.Settings.NorthWindConnectionString"
            connectionString="Data Source=192.168.31.131;Initial Catalog=NorthWind;Persist Security Info=True;User ID=SA;Password=MyStrongPass123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSieuThi.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.31.131;Persist Security Info=True;User ID=SA;Password=MyStrongPass123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSieuThi.Properties.Settings.NorthWindConnectionString1"
            connectionString="Data Source=192.168.31.131;Initial Catalog=NorthWind;Persist Security Info=True;User ID=SA;Password=MyStrongPass123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>